@media (max-width: 768px){
body {
  margin: 0;
  min-height: 100vh;
  background: var(--tło);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
main.container{
  width:calc(100% - 30px);
  /* background:red; */
  height:calc(100vh - 30px);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

.container{
  width:100%;
  height:100%;
  background:black;
  border-radius:10px;
  

}
  .LOGO {
  all:unset;
  margin-top:15px;
  color:var(--akcenty);
  font-family: 'logo';
  width:100%;
  height:auto;
  font-size:60px;
  text-align: center;
} 
.okno {
  all:unset;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  
}
.kreator {
  &.schowany{

  }

  .stage{
    h1{

    }
    .stageBody{

      }
    }
  }
  
}

.hidden{
  display:none !important;
}
